@import url('https://fonts.googleapis.com/css?family=Karla');

@import url('https://fonts.googleapis.com/css?family=Montserrat');


html, body {
    margin:0;
    padding:0;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

.home-body {
    background-color: #f4f4f4;
}

.nav-links:visited {
    text-decoration: none; color:white; 
}

.nav-links:hover {
    text-decoration: none; color:red;
}

.norm-links:hover {
    text-decoration: none; color:blue;
}

.norm-links:visited {
    text-decoration: none; color:black; 
}


* {
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-family: karla;
    padding-top: 10px;
    font-size: 25px;
}


.par {
    font-family: montserrat;
    padding: 10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;
    font-size: 110%;
}

.par1 {
    font-family: montserrat;
    padding: 15px;
    padding-top: 0px;
    font-size: 110%;

}

.container {
    background-color: rgb(1, 148, 141);
    color: white;



}

.center-text {
    font-family: montserrat;
    font-size: 100%;
    text-align: center;

}

.title2 {
    text-align: center;
    color:rgb(14, 13, 13);
    font-family: karla;
    padding-top: 10px;
    font-size: 25px;
}

  .navbar a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

#nav-bar {
    margin: 0;
    font-size: 15px;
    line-height: 1.3em;
    padding-top: 10px;
    float: left;
    font-family: karla;
    margin: 0;
    position: fixed;
    overflow: hidden;
    background: #14213D;
    color: white;
    width: 100%;
    top: 0;
}

#nav-bar a {
    float: left;
    display: block;
    text-align: center;
}

.nav-li {
    display: inline-block;
    margin: 0 10px;

}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    margin: 0px;
    padding: 10px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
    margin: 0px;
    padding: 0px;
}

.logos {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logos2 {
    width: 100px;
    display: block;
}

.column2 {
    float: left;
    width: 33.333%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;
}

.row2::after {
    content: "";
    clear: both;
    display: table;
}

.column3 {
    float: left;
    width: 33.333%;
    display: flex;
    justify-content: space-between;
}

.row3::after {
    color: white;
    clear: both;
    display: table;
}

.home-header {
    font-size: 40px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5px;
    padding-top: 10px;
    color: white;
    background-color:#14213D;
    font-family: montserrat;
    text-align: center;

}

.home-under-header {
    font-size: 20px;
    font-weight: 50;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
    font-family: montserrat;
    color: white;
    line-height: 1.7em;
    background-color:#14213D;
    text-align: center;


}

.description {
    font-size: 18px;
    font-weight: 50;
    padding-top: 0px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 50px;
    font-family: montserrat;
    color: #FCA311;
    background-color:#14213D;
    text-align: center;

}

.under-nav {
    font-family: montserrat;
    padding: 10px;
    padding-bottom: 20px;
   
    color: white;
    background-color:#14213D;
}