@import url('https://fonts.googleapis.com/css?family=Karla');

@import url('https://fonts.googleapis.com/css?family=Montserrat');


html, body {
    margin:0;
    padding:0;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

.navbar a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

#nav-bar {
    margin: 0;
    font-size: 15px;
    line-height: 1.3em;
    padding-top: 10px;
    float: left;
    font-family: karla;
    margin: 0;
    position: fixed;
    overflow: hidden;
    background: #14213D;
    color: white;
    width: 100%;
    top: 0;
}

#nav-bar a {
    float: left;
    display: block;
    text-align: center;
}

.nav-li {
    display: inline-block;
    margin: 0 10px;

}


.nav-links {
    color: white;
}

.nav-links:visited {
    text-decoration: none; color:white; 
}

.nav-links:hover {
    text-decoration: none; color:#FCA311;
}

.norm-links {
    font-size: 18px;
    font-family: montserrat;
    color: #14213D;
    text-align: center;
}

.norm-text {

        font-size: 18px;
        font-family: montserrat;
        color: #14213D;
}

.norm-text2 {

    font-size: 18px;
    font-family: montserrat;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 1.5em;
}

.norm-links:hover {
    text-decoration: none; color:#FCA311;
}

   
* {
    box-sizing: border-box;
}

.under-nav {
    font-family: montserrat;
    padding: 10px;
    padding-bottom: 20px;
    color: white;
    background-color:#14213D;
}

.home-header {
    font-size: 40px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5px;
    padding-top: 10px;
    color: white;
    background-color:#14213D;
    font-family: montserrat;
    text-align: center;
}

.product-header {
    font-size: 30px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5px;
    padding-top: 10px;
    color: white;
    background-color:#14213D;
    font-family: montserrat;
    text-align: center;

}


.description {
    font-size: 18px;
    font-weight: 50;
    padding-top: 0px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 50px;
    font-family: montserrat;
    color: #FCA311;
    background-color:#14213D;
    text-align: center;
}

.description-two {
    font-size: 18px;
    font-weight: 50;
    padding-top: 0px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 1s0px;
    font-family: montserrat;
    color: #FCA311;
    background-color:#14213D;
    text-align: center;
}

.home-under-header {
    font-size: 20px;
    font-weight: 50;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
    font-family: montserrat;
    color: white;
    line-height: 1.7em;
    background-color:#14213D;
    text-align: center;

}



.home-body {
    background-color:#E5E5E5;
}


.title {
    text-align: center;
    font-family: karla;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 28px;
}

.title_two {
    text-align: center;
    font-family: karla;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 28px;
    color: black;
}

.title_three {
    font-family: karla;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 28px;
    color: white;
}

.gray-background {
    background-color: #E5E5E5;
}

.tangerine-text {
    font-size: 18px;
    font-weight: 70;
    text-align: center;
    padding-top: 18px;
    padding-left: 20%;
    padding-right: 20%;
    font-family: montserrat;
    color: #FCA311;
}

.home-text {
    color: black;
    font-family: karla;
    padding: 2%;
    line-height: 1.5em;
    font-size: 20px;
    text-align: center;

}

.dark-blue {
    background-color: #14213D;
    padding-bottom: 300px;
}

.dark-blue2 {
    background-color: #14213D;
    padding-bottom: 30px;
}

.gray-text {
    color: #E5E5E5;
}

.mailer-padding {
    background-color: #14213D;
    text-align: center;
}

.center-form {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}


.par {
    font-family: montserrat;
    padding: 10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;
    font-size: 110%;
}

.par1 {
    font-family: montserrat;
    padding: 15px;
    padding-top: 0px;
    font-size: 110%;
}


.center-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: montserrat;
    font-size: 18px;
    line-height: 1.5em;
    
}

.center-text-two {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: montserrat;
    font-size: 18px;
    line-height: 1.5em;

}

.container > div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 33%;
    text-align: center;
}

.container2 > div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 50%;
    text-align: center;
}

.title2 {
    text-align: center;
    color:rgb(14, 13, 13);
    font-family: karla;
    padding-top: 10px;
    font-size: 25px;
}
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.logos {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logos2 {
    width: 100px;
    
    text-align: center;
}

.logos4 {
    width:200px;
}

.logos5 {
    width:500px;
    height: auto;
}

.logos3 {
    width: 33.33333%;
    text-align: center;

}


.column2 {
    float: left;
    width: 33.333%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;
}

.row2::after {
    content: "";
    clear: both;
    display: table;
}

.column3 {
    float: left;
    width: 33.333%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.column4 {
    float: center;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: montserrat;
    color: black;

}

.row3::after {
    color: white;
    clear: both;
    display: table;
}

.button {
    background-color: #FCA311;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .button1 {
      border-radius: 16px;
    }

.center {
    text-align: center;
    padding-top:20px;
}

